{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier", "simple-import-sort", "import"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "camelcase": "error",
    "spaced-comment": "error",
    "quotes": 0,
    "no-duplicate-imports": "error",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "off",
    "import/no-duplicates": "error",
    "brace-style": ["error", "1tbs"],
    "curly": ["error", "all"],
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
      },
    ],
    "object-shorthand": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "prefer-arrow-callback": "error",
    "react/function-component-definition": [
      2,
      { "namedComponents": "function-declaration", "unnamedComponents": "arrow-function" },
    ],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
    "import/resolver": {
      "typescript": {},
    },
  },
}
